.controller-title {
    display: block;
    padding: 10px 15px;
    background-color: #D9EDF7;
    text-align: center;
    font-weight: bold;
}

table#api-doc-table th {
    text-align: right;
    min-width: 100px;
    font-weight: bold;
}

table#api-doc-table  td {
    width: 100%;
}

table#api-doc-table  tr.info th {
    background-color: #D9EDF7 !important;
}

table#api-doc-table  tr.info td {
    background-color: #F0F8FC !important;
}

table#api-doc-table  tr.info td code {
    color: #3A87AD !important;
}

table#api-doc-table  td pre {
    margin-bottom: 0px;
}

table#api-doc-table  td table {
    width: auto;
    margin: -4px -5px;
}

table#api-doc-table  td table th {
    width: auto;
    min-width: 0px;
    border-left: 0px;
}

table#api-doc-table  td table td {
    width: auto;
}
