<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>API Docs</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "bootstrap.min.css", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.1.min.js", "bootstrap.min.js" %>
</head>

<body>
<div class="container">
  <%= yield %>
  <hr>
  <footer>
    
  </footer>
</div>
</body>
</html>

